<nav class="navbar navbar-expand-lg sticky-top navbar-toggleable-sm">
    <a class="navbar-brand" href="#">
        <!-- <img class="logo-history img-fluid" src="assets/icons/coso.png" alt="logo" /> -->
        <img class="logo-history img-fluid" src="assets/images/logo2020.JPG" alt="logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon ion-md-menu"></span>
    </button>
    <section class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto text-center ml-4">
            <li class="nav-item active">
                <a class="nav-link text-primary" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a  href="/categoria" id="categoria" class="nav-link text-primary">
                    Categorias
                </a>
            </li>
            <li class="nav-item">
                <a  href="/estado" id="estado" class="nav-link text-primary">
                    Estados
                </a>
            </li>
            <li class="nav-item">
                <a href="/idea" id="ideas" class="nav-link text-primary">
                    Ideas
                </a>
            </li>
        </ul>
    </section>
</nav>